<div
  class='modal-content'
  {{on-key 'Enter' (perform this.deleteThemeTask)}}
  data-test-modal='delete-theme'
>
  <header class='modal-header'>
    <h1>{{t 'Manual.Components.Are_you_sure_you_want_to_delete_this?'}}</h1>
  </header>
  <button type='button' class='close' role='button' title='Close' {{on 'click' @close}}>{{svg-jar
      'close'
    }}<span class='hidden'>Close</span></button>

  <div class='modal-body'>
    <p>{{t "Manual.Components.You're_about_to_delete_"}}"<strong>{{@data.theme.name}}</strong>"{{t
        'Manual.Components.._This_is_permanent!_We_warned_you,_k?_Maybe_'
      }}<a href='#' {{on 'click' this.downloadTheme}}>{{t
          'Manual.Components.download_your_theme_before_continuing'
        }}</a></p>
  </div>

  <div class='modal-footer'>
    <button
      class='gh-btn'
      data-test-button='cancel'
      type='button'
      {{on 'click' (fn @close false)}}
    ><span>{{t 'Manual.Components.Stay'}}</span></button>
    <GhTaskButton
      @buttonText={{t 'Manual.Components.Delete'}}
      @successText={{t 'Manual.Components.Deleted'}}
      @task={{this.deleteThemeTask}}
      @class='gh-btn gh-btn-red gh-btn-icon'
      data-test-button='confirm'
    />
  </div>
</div>