<section class='gh-dashboard-resource gh-dashboard-community'>
  <a
    href='https://ghost.org/resources/community/'
    target='_blank'
    rel='noopener noreferrer'
    class='gh-dashboard-resource-box'
  >
    <div class='gh-dashboard-resource-title'>
      <h4>{{t 'Manual.Dashboard.Ghost_creator_community'}}</h4>
    </div>
    <div class='gh-dashboard-resource-body'>
      <div class='gh-dashboard-list'>
        <div class='gh-dashboard-list-body'>
          <p>{{t 'Manual.Dashboard.Talk_strategy.'}}<br />{{t 'Manual.Dashboard.Get_advice.'}}<br
            />{{t 'Manual.Dashboard.Or_just_hang_out.'}}</p>
        </div>
      </div>
    </div>
    <div class='gh-dashboard-resource-footer'>
      {{t 'Manual.Dashboard.Share_the_journey'}}
      &rarr;
    </div>
  </a>
</section>