<div class='modal-content' data-test-modal='create-newsletter'>
  <header class='modal-header'>
    <h1>Create newsletter</h1>
  </header>
  <button type='button' class='close' title='Close' {{on 'click' @close}}>{{svg-jar 'close'}}<span
      class='hidden'
    >Close</span></button>

  <div class='modal-body'>
    <fieldset>
      <GhFormGroup
        @errors={{@data.newsletter.errors}}
        @hasValidated={{@data.newsletter.hasValidated}}
        @property='name'
      >
        <label for='newsletter-title' class='modal-fullsettings-title'>{{t
            'Manual.Components.Name'
          }}</label>
        <input
          id='newsletter-title'
          type='text'
          class='gh-input miw-100 form-text'
          value={{@data.newsletter.name}}
          placeholder={{t 'Manual.Components.Weekly_roundup'}}
          {{on 'input' (fn this.onInput 'name')}}
        />
        <GhErrorMessage @errors={{@data.newsletter.errors}} @property='name' />
      </GhFormGroup>

      <GhFormGroup
        @errors={{@data.newsletter.errors}}
        @hasValidated={{@data.newsletter.hasValidated}}
        @property='description'
      >
        <label for='newsletter-description' class='modal-fullsettings-title'>{{t
            'Manual.Components.Description'
          }}</label>
        <textarea
          id='newsletter-description'
          class='gh-input miw-100 form-text'
          {{on 'input' (fn this.onInput 'description')}}
        >{{@data.newsletter.description}}</textarea>
        <GhErrorMessage @errors={{@data.newsletter.errors}} @property='description' />
      </GhFormGroup>

      <GhFormGroup @classNames='flex justify-between items-start mb2'>
        <div class='mr3'>
          <label for='opt-in-existing' class='modal-fullsettings-title'>{{t
              'Manual.Components.Opt-in_existing_subscribers'
            }}</label>
          <p>
            {{#if this.optInExisting}}
              {{#let
                (members-count-fetcher query=(hash filter='newsletters.status:active'))
                as |countFetcher|
              }}
                {{t 'Manual.Components.This_newsletter_will_be_available_to_all_members_._Your_1'}}
                <strong>{{t 'Manual.Components.All_members'}}</strong>{{t
                  'Manual.Components.This_newsletter_will_be_available_to_all_members_._Your_2'
                }}
                {{#if countFetcher.count}}<strong>{{countFetcher.count}}</strong>{{/if}}
                {{#if (gt countFetcher.count 1)}}{{t
                    'Manual.Components.Existing_subscriber'
                  }}{{else}}{{t 'Manual.Components.Existing_subscribers'}}{{/if}}
                {{t 'Manual.Components.Will_also_be_opted-in_to_receive_it.'}}
              {{/let}}
            {{else}}
              {{t 'Manual.Components.This_newsletter_will_be_available_to_all_members_._Your_1'}}
              <strong>{{t 'Manual.Components.All_new_members'}}</strong>{{t
                'Manual.Components.._Existing_members_won’t_be_subscribed,_but_may_visit_their_account_area_to_opt-in_to_future_emails.'
              }}
            {{/if}}
          </p>
        </div>
        <div class='for-switch small'>
          <div class='container'>
            <input
              type='checkbox'
              id='opt-in-existing'
              checked={{this.optInExisting}}
              {{on 'check' this.setOptInExisting}}
            />
            <button
              type='button'
              class='input-toggle-component'
              {{on 'click' this.toggleOptInExisting}}
            ></button>
          </div>
        </div>
      </GhFormGroup>
    </fieldset>
  </div>

  <div class='modal-footer'>
    <button class='gh-btn' type='button' {{on 'click' @close}}>
      <span>{{t 'Manual.Components.Cancel'}}</span>
    </button>

    <GhTaskButton
      @buttonText={{t 'Manual.Components.Create'}}
      @runningText={{t 'Manual.Components.Creating'}}
      @successText={{t 'Manual.Components.Created'}}
      @task={{this.saveTask}}
      @idleClass='gh-btn-primary'
      @class='gh-btn gh-btn-icon'
      {{on-key 'cmd+s' this.saveViaKeyboard priority=1}}
      {{on-key 'Enter' this.saveViaKeyboard priority=1}}
      data-test-button='save-newsletter'
    />
  </div>
</div>