{{#if @publishManagement.publishOptions.user.isContributor}}
  {{#if @publishManagement.post.isDraft}}
    <button
      type='button'
      class='gh-btn gh-btn-editor gh-editor-preview-trigger'
      {{on 'click' @publishManagement.openPreview}}
      {{on-key 'cmd+p' @publishManagement.togglePreview}}
      data-test-button='contributor-preview'
    >
      <span>{{t 'Manual.Components.Preview'}}</span>
    </button>
  {{/if}}

  <GhTaskButton
    @task={{@publishManagement.saveTask}}
    @class='gh-btn gh-btn-icon gh-btn-editor gh-editor-save-trigger contributor-save-button'
    data-test-button='contributor-save'
  />
{{else}}
  {{#if @publishManagement.post.isDraft}}
    <button
      type='button'
      class='gh-btn gh-btn-editor gh-editor-preview-trigger'
      {{on 'click' @publishManagement.openPreview}}
      {{on-key 'cmd+p' @publishManagement.togglePreview}}
      data-test-button='publish-preview'
    >
      <span>{{t 'Manual.Components.Preview'}}</span>
    </button>

    <button
      type='button'
      class='gh-btn gh-btn-editor darkgrey gh-publish-trigger'
      {{on 'click' @publishManagement.openPublishFlow}}
      {{on-key 'cmd+shift+p'}}
      disabled={{@publishManagement.publishOptions.isLoading}}
      data-test-button='publish-flow'
    >
      <span>{{t 'Manual.Components.Publish'}}</span>
    </button>
  {{else}}
    <GhTaskButton
      @task={{@publishManagement.saveTask}}
      @buttonText={{t 'Manual.Components.Update'}}
      @runningText={{t 'Manual.Components.Updating'}}
      @successText={{t 'Manual.Components.Updated'}}
      @class='gh-btn gh-btn-editor gh-editor-save-trigger gh-publish-trigger'
      @idleClass='green'
      @runningClass='midlightgrey'
      @successClass='midlightgrey'
      @failureClass='red'
      @showIcon={{false}}
      @disabled={{not @publishManagement.hasUnsavedChanges}}
      @autoReset={{true}}
      data-test-button='publish-save'
    />

    {{#if (not (and @publishManagement.post.isSent (not @publishManagement.post.isPublished)))}}
      <button
        type='button'
        class='gh-btn gh-btn-editor darkgrey gh-publish-trigger'
        {{on 'click' @publishManagement.openUpdateFlow}}
        data-test-button='update-flow'
      >
        <span>
          {{if
            @publishManagement.post.isScheduled
            (t 'Manual.Components.Unschedule')
            (t 'Manual.Components.Unpublish')
          }}
        </span>
      </button>
    {{/if}}
  {{/if}}
{{/if}}